<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col"></div>
            <div class="col">
            </div>
            <div class="col">
                <a href="/login">
                    <img src="/img/facebook-logo.png" class="rounded-circle" height="100" width="100"> 
                </a>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>