<div class="jumbotron">                                                                        
    <div class="row">
        <div class="col-sm">
            <label for="login">Hasta luego {{userName}}</label>
        </div>        
    </div>
</div>
<script>
    setTimeout(()=> { window.location.href = '/'} ,2000);    
</script>