<div class="container mt-3">
    <div class="jumbotron">
        <h1>Registro de usuario</h1>
        <div class="row">
            <div class="col-sm">
                <label for="login">Usuario</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <input class="form-control" type="text" id="txtUsername">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label for="login">Contraseña</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <input class="form-control" type="password" id="txtPassword">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-success" id="btnRegistrar" value="Registara">Registrar</submit>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-success" id="btnLogin" value="Login">Login</submit>
            </div>
        </div>

    </div>
    <script src="/scripts/register.js"></script>